.cartContent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.cartContent > img{
    height: 120px;
    width: 100px;
    text-align: center;
}

.cartTotal{
    text-align: center;
}

.cart-message-center{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.counter-button {
    cursor: pointer;
    font-weight: bold;
}

.cart-delete-button {
    cursor: pointer;
}
.vover-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.volver{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #898989;
    color: #ffff;
}
.volver:hover{
    color: #000000;
}

.cart-container{
    width: 100%;
    min-height: 100vh;
}
.cart-elements-container{
    height: 100%;
}
.cart-items-total{
    color: #ffffff;
}